{
  "presets": ["next/babel"],
  "plugins": [
    ["styled-components", { "ssr": true }],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./components",
          "css": "./css",
          "constants": "./constants",
          "context": "./context"
        }
      }
    ]
  ]
}
