{
  "presets": ["next/babel", "@babel/preset-typescript"],
  "plugins": [
    ["styled-components", { "ssr": true }],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "pages": "./pages",
          "@api": "./src/api",
          "components": "./src/components",
          "css": "./src/css",
          "constants": "./src/constants",
          "context": "./src/context",
          "hooks": "./src/hooks",
          "interfaces": "./src/interfaces",
          "utils": "./src/utils"
        }
      }
    ]
  ]
}
