{
  "presets": ["next/babel"],
  "plugins": [
    ["styled-components", { "ssr": true }],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "page": "./pages",
          "components": "./components",
          "css": "./css",
          "constants": "./constants",
          "context": "./context",
          "hooks": "./hooks",
          "api": "./pages/api"
        }
      }
    ]
  ]
}
